body {
  background-color: #2b3d65;
}

.game {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.board {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #b6bfb5;
  border-bottom: none;
  border-right: none;
}

.field {
  background-color: #ecf0f1;
  flex-basis: 10%;
  height: 10%;
  transition: background-color 0.3s;
  border-bottom: 1px solid #b6bfb5;
  border-right: 1px solid #b6bfb5;
}

.field.played {
  background-color: #bd311a;
}

.field.level {
  background-color: #70812b;
}

.field.next {
  background-color: #e1f982;
}

.field:not(.disabled):not(.played):not(.level):hover {
  background-color: #dda83c;
  cursor: pointer;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.stat {
  color: #b9cefd;
  font-size: 18px;
}

.stat b {
  color: #dda83c;
}

.level-picker h3 {
  color: #fff;
}

.level-picker a {
  color: #dda83c;
}

.level-picker__header {
  color: #dda83c;
  font-size: 18px;
  font-weight: 600;
}

.btn-custom {
  color: #fff;
  background-color: #f6bb43;
  border-color: #dda83c;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #dda83c;
}

.text-custom {
  color: #dda83c;
}

.heart {
  height: 30px;
  margin-right: 5px;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.scoreTime {
  cursor: pointer;
}

.scoreTimePlus,
.scoreTimeMinus {
  font-weight: 600;
  font-size: 20px;
}

.scoreTimePlus {
  color: green;
}

.scoreTimeMinus {
  color: red;
}

@media (orientation: portrait) {
  .game {
    width: 100vw;
    height: 100vw;
  }
}
